# Clojure
.cpcache/
.clj-kondo/.cache/
.lsp/
.nrepl-port
.rebel_readline_history
target/
*.class
*.jar
pom.xml
pom.xml.asc

# Editor / IDE
.calva/
.vscode/
.idea/
*.iml
.DS_Store
*~
.*.swp
.*.swo

# Database
*.db
test.db

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

